html {
    font-size: 58.5%;
    box-sizing: border-box;

    @media(min-width: 767px) {
        font-size: 62.5%;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    padding: 60px 0 0;
    color: $subtle-dark;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a {
    text-decoration: none;
}

h3.page-title {
    color: #3f454d;
    margin: 50px 0;
    font-weight: 400;
    font-size: 3rem;
}

strong.section-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    display: block;
}

hr {
    border: 0;
    margin: 40px 0;
    border-bottom: 1px solid $subtle;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}
