ul.post-list {
    margin: 0 -10px;
    padding: 0;
    list-style: none;

    &.tile {
        li.post-sizer,
        li.post-item {
            float: left;
            width: 100%;

            @media(min-width: 767px) {
                width: 50%;
            }

            @media(min-width: 992px) {
                width: 33%;
            }
        }
    }

    li.post-item {
        background: white;
        color: $subtle-dark;
        padding: 10px;
        overflow: hidden;
        width: 100%;

        .post-item-content {
            border-radius: 3px;
            border: 1px solid $subtle;
            padding: 25px;


            &:hover {
                .post-item-body h3 small i {
                    display: inline-block;
                }
            }

            .post-item-avatar {
                float: left;
                margin-right: 15px;

                img {
                    border-radius: 3px;
                }
            }

            .post-item-body {
                width: 100%;
                padding-left: 55px;

                h3 {
                    margin: 0 0 10px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    color: #3f454d;

                    small {
                        float: right;
                        font-size: 1.4rem;
                        color: #bec3cc;

                        i {
                            display: none;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 14px 14px;
                            width: 14px;
                            height: 19px;
                            vertical-align: top;
                            margin-right: 10px;

                            &.icon-reply {
                                background-image: url('../images/reply.png');
                            }

                            &.icon-heart {
                                background-image: url('../images/heart.png');
                            }
                        }
                    }
                }
            }
        }

        .post-item-image {
            line-height: 0;

            img {
                max-width: 100%;
            }
        }
    }
}
